<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Leadtools.Formats.Raster.Common" version="22.0.0.8" targetFramework="net472" />
  <package id="Leadtools.Image.Processing" version="22.0.0.8" targetFramework="net472" />
  <package id="Leadtools.Kernel" version="22.0.0.8" targetFramework="net472" />
  <package id="Leadtools.Ocr" version="22.0.0.8" targetFramework="net472" />
  <package id="Leadtools.Ocr.Languages.Main" version="22.0.0.8" targetFramework="net472" />
  <package id="Leadtools.Ocr.Languages.Main.NET" version="22.0.0.8" targetFramework="net472" />
  <package id="Leadtools.Pdf" version="22.0.0.8" targetFramework="net472" />
</packages>